<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Trello export</title>
		<script src="/content/scripts/jquery-1.9.1.min.js"></script>
	    <script src="/content/scripts/chosen.jquery.min.js"></script>
	    <link href="/content/css/chosen.css" type="text/css" rel="stylesheet"/>
	    <link href="/content/css/master.css" type="text/css" rel="stylesheet"/>
		<link href="/content/css/kube.css" type="text/css" rel="stylesheet"/>
	</head>
    <body>
        <script>
            var selectedLists = [];
            
            $(document).ready(function() {
                $("#boards").chosen();
		        
                $("#lists").chosen();
		        
                $("#boards").on('change', function( source, item ) {
                    rebuildLists( item.selected );
                });

                $("#lists").on('change', function (source, items) {
                    if (items.selected) {
                        selectedLists.push(items.selected);
                    } else if (items.deselected) {
                        var index = selectedLists.indexOf(items.deselected);
                        
                        if (index >= 0) {
                            selectedLists.splice(index, 1);
                        }
                    }

                    rebuildCards(selectedLists);
                });
            });
		    
            var rebuildLists = function( boardId ) {
		    
                $.ajax({ 
                    type: 'GET',
                    url: '/api/boards/' + boardId + '/lists',
                    dataType: 'json',
                    success: function( results ) {
                        var optionText = '';
                        $.each( results, function( index, item ) { 
                            optionText += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                        } );

                        selectedLists = [];
                        $("#lists").html( optionText );
                        $("#lists").trigger("liszt:updated");
                    }
                });
            };

            var rebuildCards = function(listIds) {

            };

        </script> 
        <div class="row">
            <div class="fivesixth centered">
                <form class="forms">
                    <fieldset>
                        <legend>Select your export options</legend>
                        <ul>
                            <li>
                                <label for="boards">Boards</label>
                                <select id="boards" name="boards">
                                    @Each.Boards
                                    <option value="@Current.Id">@Current.Name</option>
                                    @EndEach
                                </select>
                            </li>
                            <li>
                                <label for="lists">Lists</label>
                                <select id="lists" name="lists" multiple="multiple" data-placeholder="Choose your lists" style="width:350px;" >
                                    @Each.Lists
                                    <option value="@Current.Id">@Current.Name</option>
                                    @EndEach
                                </select>                
                            </li>
                            <li>
                                <label for="cards">Cards</label>
                                <div id="cardContainer">
                                    <table id="cards"></table>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
