<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Trello export</title>
		<script src="/content/scripts/jquery-1.9.1.min.js"></script>
	    <script src="/content/scripts/chosen.jquery.min.js"></script>
	    <link href="/content/css/chosen.css" type="text/css" rel="stylesheet"/>
	    <link href="/content/css/master.css" type="text/css" rel="stylesheet"/>
	    <link href="/content/css/kube.css" type="text/css" rel="stylesheet"/> 
	</head>
    <body>
        <script>
            var lists = [];
            
            $(document).ready(function () {
                
                $("#boards").chosen();
		        
                $("#lists").chosen();
		        
                $("#boards").on('change', function( source, item ) {
                    rebuildLists( item.selected );
                });

                $("#lists").on('change', function () {

                    var boardId = $('#boards').val();
                    var listIds = $('#lists').val() ? $('#lists').val() : [];

                    rebuildCards(boardId, listIds);
                });

                $('#cardsHeaderCheck').on('click', function() {
                    var selected = $('#cardsHeaderCheck').prop('checked');

                    $('.tableCheck').prop('checked', selected);
                });
            });
		    
            var rebuildLists = function( boardId ) {		    
                $.ajax({ 
                    type: 'GET',
                    url: '/api/boards/' + boardId + '/lists',
                    dataType: 'json',
                    success: function (results) {

                        lists = [];
                        
                        var optionText = '';
                        $.each(results, function (index, item) {                            
                            lists[item.Id] = item;
                            optionText += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                        } );

                        $("#lists").html( optionText );
                        $("#lists").trigger("liszt:updated");
                    }
                });
            };

            var rebuildCards = function (boardId, listIds) {
                
                if (!listIds || !Array.isArray(listIds) || listIds.length === 0) {
                    $("#cardsBody").html('');

                    return;
                }
                
                $.ajax({
                    type: 'GET',
                    url: '/api/boards/' + boardId + '/lists/' + listIds.join() + '/cards',
                    dataType: 'json',
                    success: function (results) {
                        var innerHtml = '';

                        $.each(results, function (index, result) {
                            var list = lists[result.IdList];

                            innerHtml += '<tr data-id="' + result.Id + '" title="' + result.Desc + '">';
                            innerHtml += '<td><input type="checkbox" class="tableCheck"/></td>';
                            innerHtml += '<td>' + result.Name + '</td>';
                            innerHtml += '<td>' + list.Name + '</td>';
                            innerHtml += '</tr>';
                        });

                        $("#cardsBody").html(innerHtml);
                    }
                });
            };

        </script> 
        <div class="row">
            <div class="fivesixth centered">
                <form class="forms">
                    <fieldset>
                        <legend>Select your export options</legend>
                        <ul>
                            <li>
                                <label for="boards">Boards</label>
                                <select id="boards" name="boards" style="width:200px;">
                                    @Each.Boards
                                    <option value="@Current.Id">@Current.Name</option>
                                    @EndEach
                                </select>
                            </li>
                            <li>
                                <label for="lists">Lists</label>
                                <select id="lists" name="lists" multiple="multiple" data-placeholder="Choose your lists"  style="width:350px;" >
                                    @Each.Lists
                                    <option value="@Current.Id">@Current.Name</option>
                                    @EndEach
                                </select>                
                            </li>
                            <li>
                                <label for="cards">Cards</label>
                                <div id="cardContainer">
                                    <table id="cards" class="width-100 bordered hovered striped">
                                        <thead class="thead-black">
                                            <tr>
                                                <td style="width: 3%"><input type="checkbox" id="cardsHeaderCheck"/></td>
                                                <td>Name</td>
                                                <td>List</td>
                                            </tr>
                                        </thead>
                                        <tbody id="cardsBody"></tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <input type="button" value="Export" class="btn"/>
                            </li>
                        </ul>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
